.font-inter {
  font-family: "Inter", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.banner-background {
  background: linear-gradient(180deg, rgba(3, 7, 18, 0.5) 0%, rgba(3, 7, 18, 0) 100%),
    url("images/banner.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-container {
  max-width: 1170px;
}
